.clear-filter[filter-color='black'] {
  @include linear-gradient(rgba($black-color, 0.1), rgb(0, 0, 0));
}
[data-background-color='black'] {
  background-color: $black-color;
}
.section-nucleo-icons .icons-container i:nth-child(6) {
  color: $warning-color;
}
.page-header {
  &.page-header-small {
    min-height: 60vh;
    max-height: 640px;
  }
}
